<launch>
	<!-- Configuration setup for skippi-->
 	<node pkg="dynamic_reconfigure" name="dynparam" type="dynparam" args="load tfBroadcaster $(find skippi_setup_tf)/yaml/arty_future_tf" />   	

	<!-- Start skippi-->
	<node pkg="skippi" name="skippi" type="skippi" cwd="node" required="true"/>	

    	<!-- Start Joystick-->
    	<node pkg="joystick" type="joynode" name="joystick"/>

<node pkg="rosbag" type="record" name="joystick_log" args="/joystick -o /home/haroldsoh/ros_workspace/hcrskippi/joy_sim_launch/logs/no_haptic_launch/joystick/joystick"/>

<node pkg="rosbag" type="record" name="cmd_vel_log" args="/cmd_vel -o /home/haroldsoh/ros_workspace/hcrskippi/joy_sim_launch/logs/no_haptic_launch/cmd_vel/cmd_vel"/>

<node pkg="rosbag" type="record" name="gps_log" args="/GPSDistance -o /home/haroldsoh/ros_workspace/hcrskippi/joy_sim_launch/logs/no_haptic_launch/gps/gps"/>

    	<!-- Start Joystick converter-->
    	<node pkg="joystick_interface" type="joystick_interface" name="joystick_interface"/>

	<!-- Start Sonar Listener -->
	<node pkg="sonar_listener" type="listener.py" name="sonar_listener" />

	<!-- Launch rosserial-->
	<node pkg="rosserial_python" type="serial_node.py" name="arduino" args="/dev/arduino_752303138333516052A1"/>




	<node pkg="sonar_override" type="sonar_override.py" name="sonar_override"/>
</launch>
